/* ==================== TABLETTE =============== */

@media screen and (max-width: 1024px) {

/* ========================================== */
/* ================== header ================= */
/* =========================================== */

header nav .link{
    width: 90%;
    position: relative;
    align-items: center;
}
header nav .link a{
    width: 25%;
}
/* ========================================== */
/* ================== main ================= */
/* =========================================== */

main aside .reseau{
    flex-wrap: wrap;
}
main aside .reseau .fab{
    font-size: 100px;
    padding: 1rem;
}

/* ========================================== */
/* ================== footer ================= */
/* =========================================== */
footer{
    flex-wrap: wrap;
    justify-content: space-around;
}
footer .inscription, footer .galery{
    width: 40%;
}
footer .partner{
    margin: auto;
    width:50% ;
}

}